*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* banner css */

header .banner{
    background-image: url(../images/donation0.jpg) ;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;

}
header .banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.2), rgb(0, 0, 0));
    z-index: -1;
}
 header .banner .titel{
    font-size: 40px;
    margin-top: 16%;

 }
 header .banner .description{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;

 }

 .primary{
    background-color: #06ca68;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
 }

 /* ===donate===== */

 .donate{
    margin: 80px 0;
    display: flex;
    justify-content: center;
 }
 .donate-container{
    text-align: center;
 }

 .donate-container h3{
    font-size: 36px;
    color: #222;
    font-weight: 700;
 }
 .donate-container p{
    font-size: 18px;
    color: #7a7a7a;
    font-weight: 400;
    margin-top: 20px;
 }
 .donate-container .amounts{
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;

 }
 .donate-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .donate-container .amounts .amount{
    list-style: none;
    color: #7a7a7a;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    padding: 40px 26px;
    margin-right: 10px ;
 }

 .donate-container .amounts .active{
    background-color: #06ca68a1;
    border: 3px solid #06ca68;
 }

 .donate-container input{
    display: block;
    width: 40vw;
    border: none;
    border-bottom: 1px solid #7a7a7a; 
    margin: 30px;
    padding: 0 auto;
 }

 .donate-container input::placeholder{
    text-align: center;
    margin: 10px 0;
 }

 .donate-container input:focus{
    outline: none;
 }

 /* plan */

 .ourPlan{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .ourPlan .heading{
    text-align: center;
 }
 .ourPlan .heading h3{
    font-size: 36px;
    color: #222;
    font-weight: 700;
 }
 .ourPlan .heading p{
    font-size: 18px;
    color: #7a7a7a;
    font-weight: 400;
    margin-top: 20px;
 }

 .ourPlan .cards{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin-top: 30px;
    margin-bottom: 30px;
 }

 .ourPlan .cards .plan{
    width: 33%;
    padding: 10px;
    margin: 10px;
 }
 .ourPlan .cards .c1{
    background-color: #ce941741;
 }
 .ourPlan .cards .c2{
    background-color: #09b8af4b;
 }
 .ourPlan .cards .c3{
    background-color: #e416164b;
 }

 .ourPlan .cards .plan h4{
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin: 20px 0;
 }
 .ourPlan .cards .plan p{
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
 }

 /* blogs */

 .blogSection{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .blogSection .blog{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
 }

 .blogSection .blog .blogText{
    width: 45%;
    
 }
 .blogSection .blog .blogText h4{
    font-size: 30px;
    font-weight: 700;
    flood-color: #222;
 }
 .blogSection .blog .blogText p{
    font-size: 16px;
    font-weight: 400;
    color: #7a7a7a;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .blogSection .blog .blogText .primary{
    font-size: 18px;
 }

 .blogSection .blog .blogImg{
    width: 45%;
 }

 .blogSection .blog .blogImg img{
    width: 100%;
 }